<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.ConnectionTableXeMay"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Demo;Persist Security Info=True;User ID=sa;Password=bmspnj"
            providerName="System.Data.SqlClient" />
        <add name="Project.Properties.Settings.CUAHANGBANXEMAYConnectionString"
            connectionString="Data Source=.;Initial Catalog=CUAHANGBANXEMAY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>